Screen {
    align: center middle;
}

#select {
    padding: 1;
    margin: 0 2;
    border: solid $accent;
    width: 50%;
}
#queue {
    padding: 1;
    margin: 0 2;
    border: solid $primary;
    width: 50%;
}
Button {
    margin: 1;
}